<style>
  .text-danger strong {
    color: #9f181c;
  }

  .receipt-main {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #9f181c;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #acacac;
    color: #333333;
    font-family: open sans;
  }

  .receipt-main p {
    color: #333333;
    font-family: open sans;
    line-height: 1.42857;
  }

  .receipt-footer h1 {
    font-size: 15px;
    font-weight: 400 !important;
    margin: 0 !important;
  }

  .receipt-main::after {
    background: #414143 none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
  }

  .receipt-main thead {
    background: #414143 none repeat scroll 0 0;
  }

  .receipt-main thead th {
    color: #fff;
  }

  .receipt-right h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px 0;
  }

  .receipt-right p {
    font-size: 12px;
    margin: 0px;
  }

  .receipt-right p i {
    text-align: center;
    width: 18px;
  }

  .receipt-main td {
    padding: 9px 20px !important;
  }

  .receipt-main th {
    padding: 13px 20px !important;
  }

  .receipt-main td {
    font-size: 13px;
    font-weight: initial !important;
  }

  .receipt-main td p:last-child {
    margin: 0;
    padding: 0;
  }

  .receipt-main td h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
  }

  .receipt-header-mid .receipt-left h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
  }

  .receipt-header-mid {
    margin: 24px 0;
    overflow: hidden;
  }

  #container {
    background-color: #dcdcdc;
  }
</style>
<br><br><br><br>
<div class="container">
  <div class="row">

    <div class="receipt-main col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 ">
      

      <div class="row">
        <center><img src="/img/imm2.jpg" style="width: 350px" class="img-fluid" alt="Responsive image"></center>
      </div>

      <div>
        <table class="table table-bordered">
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Moteur (Perkins technologie)</center></td>
            </tr>
            <tr>
              <td class="col-md-7">Cylindres/cylindrée</td>
              <td class="col-md-5"> 3/1532</td>
            </tr>
            <tr>
              <td class="col-md-7">Puissance homologué au régime nominal ch/Kw-EURO3-</td>
              <td class="col-md-5">25CV/18.4Kw</td>
            </tr>
            <tr>
              <td class="col-md-7">Régime moteur au couple maxi(tr/min)</td>
              <td class="col-md-5"> 2350</td>
            </tr>
            <tr>
              <td class="col-md-7">Remontée de couple %</td>
              <td class="col-md-5"> 23.45 </td>
            </tr>
            <tr>
              <td class="col-md-7">Refroidissement</td>
              <td class="col-md-5">Par eau</td>
            </tr>
            <tr>
              <td class="col-md-7">Régulation du moteur</td>
              <td class="col-md-5">mécanique</td>
            </tr>
            <tr>
              <td class="col-md-7">filter à air</td>
              <td class="col-md-5">Sec</td>
            </tr>
            <tr>
              <td class="col-md-7">Capacité réservoir de carburant (litres)</td>
              <td class="col-md-5">29</td>
            </tr>
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Dimensions et Poids</center></td>
            </tr>
            <tr>
              <td class="col-md-7">Longueur maxi sans bras de relevage</td>
              <td class="col-md-5"> 3480 </td>
            </tr>
            <tr>
              <td class="col-md-7">Largeur mini/max</td>
              <td class="col-md-5"> 1520 </td>
            </tr>
            <tr>
              <td class="col-md-7">Empattement 4RM</td>
              <td class="col-md-5">1639</td>
            </tr>
            <tr>
              <td class="col-md-7">Pneu Avant</td>
              <td class="col-md-5"> 6,0-16</td>
            </tr>
            <tr>
              <td class="col-md-7">Pneu Arrière</td>
              <td class="col-md-5">9,5-24</td>
            </tr>
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Transmission</center></td>
            </tr>
            <tr>
              <td class="col-md-7">Embrayage</td>
              <td class="col-md-5"> Hydrostatique</td>
            </tr>
            <tr>
              <td class="col-md-7">Boite de vitesse mécanique, 4 rapports synchronisés, 3 gammes</td>
              <td class="col-md-5">8AV+8AR 3 gammes</td>
            </tr>
            <tr>
              <td class="col-md-7">Graissage</td>
              <td class="col-md-5">Sous pression</td>
            </tr>
            <tr>
              <td class="col-md-7">Vitesse maxi</td>
              <td class="col-md-5">25.9 Km/h</td>
            </tr>
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Freins et Direction </center></td>
            </tr>
            <tr>
              <td class="col-md-7">System de freinage</td>
              <td class="col-md-5"> A Sec</td>
            </tr>
            <tr>
              <td class="col-md-7">Frein à main</td>
              <td class="col-md-5">Commande mécanique</td>
            </tr>
            <tr>
              <td class="col-md-7">Direction hydrostatique</td>
              <td class="col-md-5">Rotative avec pompe dédié</td>
            </tr>
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Point Avant</center></td>
            </tr>
            <tr>
              <td class="col-md-7">Engagement</td>
              <td class="col-md-5"> A commande mécanique</td>
            </tr>
            <tr>
              <td class="col-md-7">Blocage de différentiel AV</td>
              <td class="col-md-5">A commande mécanique</td>
            </tr>
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Prise de force AR</center></td>
            </tr>
            <tr>
              <td class="col-md-7">Embrayage</td>
              <td class="col-md-5"> A Sec </td>
            </tr>
            <tr>  
              <td class="col-md-7">Vitesse PDF</td>
              <td class="col-md-5">540-1000</td>
            </tr>
            <tr style="background-color:#bdc3c7">
              <td colspan="2" style="font-size: 19px"><center>Relevage hydraulique</center></td>
            </tr>
            <tr>
              <td class="col-md-7">Relevage arrière</td>
              <td class="col-md-5">mécanique</td>
            </tr>
            <tr>
              <td class="col-md-7">Distributeur hydraulique auxiliaires</td>
              <td class="col-md-5">Double effet</td>
            </tr>
            <tr>
              <td class="col-md-7">Attelage 3 points</td>
              <td class="col-md-5">3 Catégories</td>
            </tr>
            <tr>
              <td class="col-md-7">Bras inférieur gauche et troisième point réglage</td>
              <td class="col-md-5">Réglable</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>